.ribbon-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 84px; 
}

.ribbon {
    position: absolute;
    top: 0;
    left: -200px; 
    width: 100%; 
    height: 100%;
    background-color: #793da8; 
    animation: moveRibbon 3s linear forwards; 
}

.ribbon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-left: 39px solid white;
    transform: translateX(-100%);
    margin-left: -32px;
    animation: moveTriangle 0.3s linear forwards;
    margin-top: -3px;
}

@keyframes moveRibbon {
    0% {
        left: -150px; 
    }
    100% {
        left: calc(100% - 125px); 
    }
}

@keyframes moveTriangle {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(75%); 
    }
}
button.head {
    background-color:#793da8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1% 11%;
    font-weight: 100;
}
.alt_center{
    text-align: center;
    margin-top: 30px !important;
}
button.head1 {
    background-color:#793da8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.6% 5%;
    font-weight: 100;
}
body {
    font-family: "Times New Roman", Times, serif !important;
   
}
.dashed-line {
    border-top: 3px dashed #8d3596 !important;
    margin-bottom: 20px;
    font-size: 20px !important;
    margin-left: 10%;
    margin-right: 10%;
}
.pyramid {
    text-align: center;
}

.level {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.circle-container {
    margin-right: 20px; 
}

.circle {
    position: relative; 
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #793da8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.circle:hover {
    transform: rotateY(180deg);
}

.circle img {
    max-width: 70%; 
    max-height: 70%; 
}

.info {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #793da8; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    z-index: 1; 
}

.circle:hover .info {
    opacity: 1;
    transform: rotateY(180deg); 
}


@media only screen and (max-width: 768px) {
    .level {
        flex-wrap: wrap; 
    }

    .circle {
        width: 120px; 
        height: 120px; 
        margin: 10px; 
    }

    .circle-container {
        margin-right: 10px; 
    }
}
@media only screen and (max-width: 768px) {
    .ribbon {
        left: -15%; 
    }
}

@media only screen and (max-width: 576px) {
    .ribbon {
        left: -10%; 
    }
}

.navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%; 
    height: 13%;
    background-color: #793da8; 
    transition: right 0.3s ease; 
    z-index: 1000;
    display: block; 
}
.navbar-collapse.show {
    right: 0; 
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 10px; 
    z-index: 100;
    display: block !important; 
    border: none !important;
    box-shadow: none !important;
    margin-top: 2.5%;
    margin-right: 3%;
}

#toggle_back_btn {
    
   
    z-index: 1100;
    display: block !important; 
}

.navbar-nav {
    width: auto; 
    list-style: none; 
    padding: 0; 
}

.nav-item {
    display: inline-block; 
    margin-left: 10px; 
}

.nav-item:first-child {
    margin-left: auto; 
}
@media only screen and (min-width: 1200px) {
    .navbar-toggler {
        position: absolute;
        top: 0;
        right: 10px; 
        z-index: 100;
        display: block !important; 
        border: none !important;
        box-shadow: none !important;
        margin-top: 2%;
        margin-right: 1%;
    }
}
.navbar-nav .nav-link:hover {
    color: #793da8; 
    background-color: white; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
    box-shadow: white;
}
@media (max-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
    margin-top: 22px;
    margin-left: 10px;
  
}
.nav-item:first-child {
    margin-left: inherit;
}
}



